body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 5px;
  background-color: #0066CC;
}

ol, ul {
  padding-left: 30px;
}

.button {
  padding: 0px;
  border: 1px solid #000;
}

.light-green {
  background-color: #90ee90;
}

.light-gray {
  background-color: #f2f2f2;
}

.centered {
  margin: 0 auto;
  float: none
}

.game {
  display: flex;
  flex-direction: column;
}
