body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 5px;
  background-color: #0066CC;
}

ol, ul {
  padding-left: 30px;
}

.roof {
  outline: none;
  float: left;
  display: table-cell;
  border: 1px solid #000;
}

.centered {
  margin: 0 auto;
  display: flex;
}

.light-blue {
  background-color: #add8e6;
}

.light-green {
  background-color: #90ee90;
}

.light-gray {
  background-color: #f2f2f2;
}

.game-col {
  width: 200px;
}

.board {
  margin-left: 5px;
  margin-right: 5px;
}

.padding {
  padding: 5px;
}

.game {
  display: flex;
  flex-direction: column;
}
